
@{
    ViewBag.Title = "AdminGiris";
    Layout = "~/Views/Shared/LayoutUye.cshtml";
}

<style>
    .inner_form {
        z-index: 1;
        width: 540px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-left: 300px;
        margin-top: 70px;
    }

        .inner_form > .title {
            width: 100%;
            font-family: Constantia, sans-serif;
            font-weight: 600;
            font-size: 40px;
            color: #ffb676;
            text-align: center;
            margin-bottom: 10px;
        }

        .inner_form input {
            width: 100%;
            height: 60px;
            background: rgba(37, 19, 12, 0.24);
            border: 1px solid #342d29;
            border-radius: 4px;
            font-family: Constantia;
            font-size: 24px;
            color: #dbc9b8;
            text-align: center;
            margin-bottom: 20px;
        }

        .inner_form button {
            z-index: 200;
            width: 100%;
            height: 61px;
            overflow: hidden;
            border-radius: 4px;
            background: url(../../img/button_orange_center.png) top center;
            background-size: auto 100%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
            transition: all .3s ease-in-out;
            margin-top: 10px;
        }

            .inner_form button span {
                position: relative;
                z-index: 2;
                color: #250e01;
                font-family: Constantia;
                font-size: 26px;
                font-weight: 600;
                text-shadow: 0px 1px 1px rgba(255,193,113,0.5);
            }

            .inner_form button:hover {
                filter: brightness(130%);
            }

        .inner_form .form_link {
            margin-top: 20px;
            font-family: Constantia;
            font-size: 20px;
            color: #906f50;
            text-decoration: underline;
            transition: all .3s ease-in-out;
            text-align: center;
        }

    .form-group {
        width: 100%;
    }
</style>
@using (Html.BeginForm("AdminGiris", "Login", FormMethod.Post, new { @class = "inner_form" }))
{

    <div class="title">YÖNETİCİ GİRİŞİ</div>

    <div class="form-group">
        <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı" required="required" />
    </div>
    <div class="form-group">
        <input type="password" name="Sifre" class="form-control" placeholder="Şifre" required="required" />
        <a href="#" class="form_link">Şifreni mi Unuttun?</a>
    </div>

    <button type="submit" name="login-button" class="btn">
        <span>GİRİŞ YAP</span>
    </button>
    <p class="alert text-danger">@ViewBag.uyari</p>
}

