@using GridMvc.Html
@model IEnumerable<OyunArkadasım.Models.Entity.TBLUYEOYUNBILGI>
@{
    ViewBag.Title = "LolProfiliBul";
    Layout = "~/Views/Shared/LayoutUye.cshtml";
}
<style>
    h2 {
        color: #ffb676;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(255,193,113,1);
        margin-bottom: 20px;
        background: rgba(192,164,158,0.04);
        width: 97%;
        height: 60px;
        text-align: center;
        padding-top: 10px;
        border: 1px solid rgba(255,255,255,0.04);
        border-radius: 4px;
        margin: 20px auto;
        font-family: Constantia;
    }

    #liste {
        width: 97%;
        margin: auto;
        margin-top: 30px;
    }

    div col {
        background-color: none;
    }

    tbody .grid-cell {
        background-color: #0e0101;
        color: #dbc9b8;
        font-family: Constantia;
        font-size: 18px;
    }

    .table > tbody > tr > td {
        border: 2px solid #420000;
        border-left: none;
        border-right: none;
        text-align: center;
    }

    .table > thead > tr > th {
        font-family: Constantia;
        font-size: 19px;
        color: #ffb676;
        font-weight: bolder;
        background-color: #090101;
        text-align: center;
        vertical-align: bottom;
        border: none;
    }
        p,label {
            color: #171515;
        }


        .table > thead > tr > th > div > a {
            color: #ffb676;
        }


    .table {
        border: 2px solid #420000;
    }

        .table > tr {
            border: none;
        }

    td a {
        height: 35px;
        overflow: hidden;
        border-radius: 4px;
        background: url(../../img/login_icon.png) top center;
        background-size: auto 100%;
        position: relative;
        padding: 5px 20px 5px 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    td span {
        position: relative;
        z-index: 2;
        color: #dbc9b8;
        font-family: Constantia;
        font-weight: bolder;
        text-shadow: 0px 1px 1px rgba(255,193,113,0.5);
    }

    td a:hover {
        filter: brightness(130%);
        text-decoration: none;
    }

    .mesaj-icon {
        background: url(../../img/mesaj2.png) top center no-repeat;
        background-size: auto 100%;
        padding: 0px 23px 1px 23px;
    }
</style>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>
    <script src="~/Scripts/gridmvc.lang.tr.js"></script>
    <script src="~/Scripts/gridmvc.customwidgets.js"></script>
</head>
<body>
    <h2>LOL PROFİLLERİ</h2>
    <div id="liste">
        @Html.Grid(Model).Named("lolprofilleri").Columns(col =>
   {
       col.Add(x => x.NICKNAME).Titled("NICKNAME").Sortable(true).Filterable(true);
       col.Add(x => x.TBLDERECE.DereceAdı).Titled("DERECE").Sortable(true).Filterable(true).SetFilterWidgetType("CustomCompanyNameFilterWidget");
       col.Add(x => x.TBLROL.RolAdı).Titled("MAIN ROLÜ").Sortable(true).Filterable(true).SetFilterWidgetType("LolRoller");
       col.Add(x => x.PUAN).Titled("PUANI").Sortable(true);
       col.Add().Titled("MESAJ").Encoded(false).Sanitized(false).RenderValueAs(html =>
       {
           string htmlstr = "<a class='mesaj-icon' href='/Uye/MesajGonder/" + html.UYEID.ToString() + "'></a>";
           return MvcHtmlString.Create(htmlstr);

       }).SetWidth(150);
       col.Add().Titled("PROFİL").Encoded(false).Sanitized(false).RenderValueAs(html =>
       {
           string htmlstr = "<a href='/Uye/UyeProfilGoster/" + html.UYEID.ToString() +"'></a>";
           return MvcHtmlString.Create(htmlstr);

       }).SetWidth(150);
       
   }).WithPaging(10).SetLanguage("tr")
    </div>

    <script>
        $(function () {

            pageGrids.lolprofilleri.addFilterWidget(new CustomersFilterWidget());
            pageGrids.lolprofilleri.addFilterWidget(new CustomersFilterWidgetLolRoller());

        })
    </script>

</body>
</html>
